.carousel-control-prev-icon,
.carousel-control-next-icon {
    background-image: url(../img/banana.svg);
}

:root {
    --bs-tertiary-bg-rgb: 0, 255, 255;
}

/* .bg-body-tertiary {
    background-color: aqua !important;
} */
